<?xml version="1.0"?>
<!-- /**
* Ti Order Comment Module
*
* @category    Ti
* @package     Ti_OrderComment
* @copyright   Copyright (c) 2014 Ti Technologies (http://www.titechnologies.in)
* @link        http://www.titechnologies.in
*/
-->
<config>
    <modules>
        <Ti_OrderComment>
            <version>1.0.1</version>
        </Ti_OrderComment>
    </modules>
    <global>
        <models>
            <ordercomment>
                <class>Ti_OrderComment_Model</class>
                <resourceModel>ordercomment_resource</resourceModel>
            </ordercomment>
            <ordercomment_resource>
                <class>Ti_OrderComment_Model_Resource</class>
                <deprecatedNode>ordercomment_mysql4</deprecatedNode>
            </ordercomment_resource>
            <sales_resource>
                <rewrite>
                    <order_grid_collection>Ti_OrderComment_Model_Mysql4_Order_Grid_Collection</order_grid_collection>
                </rewrite>
            </sales_resource>
        </models>
        <helpers>
            <ordercomment>
                <class>Ti_OrderComment_Helper</class>
            </ordercomment>
        </helpers>
        <blocks>
            <ordercomment>
                <class>Ti_OrderComment_Block</class>
            </ordercomment>
            <checkout>
                <rewrite>
                    <agreements>Ti_OrderComment_Block_Checkout_Agreements</agreements>
                </rewrite>
            </checkout>
            <adminhtml>
                <rewrite>
                    <sales_order_grid>Ti_OrderComment_Block_Adminhtml_Sales_Order_Grid</sales_order_grid>
                </rewrite>
            </adminhtml>
        </blocks>
    </global>
    <frontend>
        <events>
            <checkout_type_onepage_save_order>
                <observers>
                    <saveCustomerComment>
                        <class>Ti_OrderComment_Model_Observer</class>
                        <method>saveOrderComment</method>
                    </saveCustomerComment>
                </observers>
            </checkout_type_onepage_save_order>
            <checkout_type_multishipping_create_orders_single>
                <observers>
                    <saveCustomerComment>
                        <class>Ti_OrderComment_Model_Observer</class>
                        <method>saveOrderComment</method>
                    </saveCustomerComment>
                </observers>
            </checkout_type_multishipping_create_orders_single>
        </events>
    </frontend>
    <adminhtml>
            <acl>
            <resources>
                <admin>
                    <children>
                        <system>
                            <children>
                                <config>
                                    <children>
                                        <ordercomment  translate="title" module="ti_ordercomment">
                                            <title>Order Comment Settings</title>
                                        </ordercomment>
                                    </children>
                                </config>
                            </children>
                        </system>
                    </children>
                </admin>
            </resources>
        </acl>
    </adminhtml>
    <default>
        <ordercomment>
            <ordercomment_group>
                <ordercomment_enable>1</ordercomment_enable>
            </ordercomment_group>
        </ordercomment>
    </default>
</config>
